<%= javascript_include_tag 'jquery', 'rails', 'rails.validations' %> 

<%= form_for @seat, :validate => true do |f| %>
  <% if @seat.errors.any? %>
    <div id="error_explanation">
      <h2>Zaszły następujące nieprawidłowości:</h2>

      <ul>
      <% @seat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Id Sali" %><br />
    <%= f.text_field :room_id , :value => @seat.room.id %>
    
  </div>
  
  <div class="field">
    <%= f.label :Rząd %><br />
    <%= f.text_field :row %>
  </div>
  <div class="field">
    <%= f.label :Kolumna %><br />
    <%= f.text_field :collumn %>
  </div>
  <div class="actions">
    <%= f.submit "Dodaj"%>
  </div>
<% end %>
