

<p>
  <b>Sala:</b>
  <%= @seat.room_id %>
</p>

<p>
  <b>Rząd:</b>
  <%= @seat.row %>
</p>

<p>
  <b>Kolumna:</b>
  <%= @seat.collumn %>
</p>


<%= link_to 'Edytuj', edit_seat_path(@seat) %> |
<%= link_to 'Wróć', seats_path %>
