<%= form_for(@seance) do |f| %>
  <% if @seance.errors.any? %>
    <div id="error_explanation">
      <h2>Zaszły następujące nieprawidłowości:</h2>

      <ul>
      <% @seance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :cinema_film_id %><br />
    <% if @cf -%>
    <%= select_tag('seance[cinema_film_id]', options_for_select([['Wybierz kino/film', '']] + @cf.collect{|c| [c.cinema.name + " / " + c.film.title, c.id]}, @seance.cinema_film_id)) %>
    <% else -%>
    <%= f.text_field :cinema_film_id %>
    <% end -%>
  </div>
    <div class="field">
    <%= f.label :room_id %><br />
    <% if @rooms -%>
    <%= select_tag('seance[room_id]', options_for_select([['Wybierz salę', '']] + @rooms.collect{|r| [r.number, r.id]}, @seance.room_id)) %>
    <% else -%>
    <%= f.text_field :room_id %>
    <% end -%>
  </div>
  <div class="field">
    <%= f.label :date_from %><br />
    <%= f.text_field :date_from, :class => "datePick" %>(format: rrrr-mm-dd)
  </div>
  <div class="field">
    <%= f.label :time_from %><br />
    <%= f.time_select :time_from,  :minute_step => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>