<script src="/javascripts/jquery.validationEngine-pl.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

<script>
	jQuery(document).ready(function(){	
		jQuery('#new_seance').validationEngine('attach', { validationEventTrigger: 'submit'});
	});
</script>

<%= javascript_include_tag 'jquery', 'rails', 'rails.validations' %> 
<%= form_for @seance, :validate => true do |f| %>
  <% if @seance.errors.any? %>
    <div id="error_explanation">
      <h2>Zaszły następujące nieprawidłowości:</h2>

      <ul>
      <% @seance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Film w kinie" %><br />
    <% if @f -%>
    <%= select_tag('seance[cinema_film_id]', options_for_select([['Wybierz film', '']] + @f.collect{|c| [c.title, c.id]}, @seance.cinema_film_id), :class => 'validate[required]') %>
    <% else -%>
    <%= f.text_field :cinema_film_id, :class => 'validate[required,custom[integer]' %>
    <% end -%>
  </div>
    <div class="field">
    <%= f.label :"Numer sali" %><br />
    <% if @rooms -%>
    <%= select_tag('seance[room_id]', options_for_select([['Wybierz salę', '']] + @rooms.collect{|r| [r.number, r.id]}, @seance.room_id), :class => 'validate[required]') %>
    <% else -%>
    <%= f.text_field :room_id, :class => 'validate[required,custom[integer]' %>
    <% end -%>
  </div>
  <div class="field">
    <%= f.label :"Data seansu" %><br />
    <%= f.text_field :date_from, :class => "datePick" %>(format: rrrr-mm-dd)
  </div>
  <div class="field">
    <%= f.label :"Godzina seansu" %><br />
    <%= f.time_select :time_from,  :minute_step => 5 %>
  </div>
  <div class="field">
    <%= f.label :Sprawdzony %><br />
    <%= f.check_box :checked %>
  </div>
  <div class="field">
  	<%= f.label :"Typ seansu" %><br />
    <% if @seance_types -%>
    <%= select_tag('seance[seance_type_id]', options_for_select([['Wybierz typ seansu', '']] + @seance_types.collect{|c| [c.name , c.id]}, @seance.seance_type_id), :class => 'validate[required]') %>
    <% else -%>
    <%= f.text_field :seance_type_id %>
    <% end -%>
    
  </div>
  <div class="field">
    <%= f.label :Zniżka %><br />
    <% if @discount_sorts -%>
    <%= select_tag('seance[discount_sort_id]', options_for_select([['Wybierz typ zniżek', '']] + @discount_sorts.collect{|c| [c.description , c.id]}, @seance.discount_sort_id), :class => 'validate[required]') %>
    <% else -%>
    <%= f.text_field :discount_sort_id %>
    <% end -%>
    
  </div>
  <div class="actions">
    <%= f.submit "Dodaj seans"%>
  </div>
<% end %>
<script>
$j("#seance_date_from").datepicker();
</script>