
<h1>Lista seansów</h1>
<%= link_to 'Dodaj seans', new_seance_path %><br><br>

<% if @seances -%>
	<table id="listaRekordow" cellspacing=0 cellpadding=5px>
	  <tr>
	    <th>Tytuł Filmu</th>
	    <th>Nazwa Kina</th>
	    <th>Sala</th>
	    <th>Data</th>
	    <th>Godzina</th>
	    <th>Typ seansu</th>
	    <th>Zniżka</th>
	   <th></th>
	  </tr>
	
	
	<% @seances.each do |seance| %>
	  <tr>
	    <td align="center"><%= seance.cinema_film.film.title if seance.cinema_film and seance.cinema_film.film %></td>
	    <td align="center"><%= seance.cinema_film.cinema.name if seance.cinema_film and seance.cinema_film.cinema %></td>
	    <td align="center"><%= seance.room.number if seance.room %>
	    <td><%= seance.date_from %></td>
	    <td align="center"><%= seance.time_from.strftime("%H:%M") %></td>
	    <td align="center"><%= seance.seance_type.name %></td>
	    <td align="center"><%= seance.discount_sort.description %></td>
	    <td><%= link_to 'Pokaż', seance %>
	    	<%= link_to 'Edytuj', edit_seance_path(seance) %>
	    	<%= link_to 'Usuń', seance, :confirm => 'Czy na pewno chcesz usunąć ten rekord?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
<% else -%>

	<p>Albo nie ma danych w bazie, albo masz niewystarczające uprawnienia, aby przeglądać te dane.</p><br><br>

<% end -%>

<br></br>	 
	<%= will_paginate @seances,  { :previous_label => 'Wstecz', :next_label => 'Dalej' } %>
	
<br><br>
<%= link_to 'Dodaj seans', new_seance_path %>
<script>
//$j(".pagination a").attr("href", this.href+"&page_size=25");
</script>
<%# debug(@m) %>