
<p>
  <b>Id:</b>
  <%= @seance.id %>
</p>

<p>
  <b>Tytuł filmu:</b>
  <%= @seance.cinema_film.film.title if @seance.cinema_film.film %>
</p>

<p>
  <b>Nazwa kina:</b>
  <%= @seance.cinema_film.cinema.name if @seance.cinema_film.cinema %>
</p>

<p>
  <b>Numwer sali:</b>
  <%= @seance.room.number if @seance.room %>
</p>

<p>
  <b>Data:</b>
  <%= @seance.date_from %>
</p>

<p>
  <b>Godzina:</b>
  <%= @seance.time_from %>
</p>
<p>
  <b>Sprawdzony:</b>
  <%= @seance.checked %>
</p>
<p>
  <b>Typ seansu:</b>
  <%= @seance.seance_type.name %>
</p>
<p>
  <b>Zniżka:</b>
  <%= @seance.discount_sort_id %>
</p>


<%= link_to 'Edytuj', edit_seance_path(@seance) %> |
<%= link_to 'Wróć', seances_path %>
