<!-- CSS and JS imports -->
	<LINK REL=StyleSheet HREF="/stylesheets/ticket_types/ticket_types.css" TYPE="text/css" MEDIA=screen>
	
	<script src="/javascripts/jquery.validationEngine-pl.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
<!-- EO  CSS and JS imports -->

<!-- JS code -->
<script>
	jQuery(document).ready(function()
	{
		jQuery('#new_ticket_type').validationEngine('attach', { validationEventTrigger: 'submit'});
		
		jQuery('#new_ticket_type_a').bind('click', function(event)
		{
			jQuery('#new_ticket_type_div').show('fast');			
			jQuery("#ticket_type_name").focus();
		});		
	});
</script>

<h3>Lista rodzaji biletów</h3>
<a id="new_ticket_type_a">Dodaj nowy rodzaj biletu</a>

<br />
<div id="new_ticket_type_div" style="display: none">	
	<%= render 'form'%>	
</div>
<br />

<table>
  <tr>
     <th>Nr</th>
    <th>Nazwa</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @ticket_type_number = 1%>
<% @ticket_types.each do |ticket_type| %>
  <tr>
    <td><%= @ticket_type_number %></td>
    <% @ticket_type_number = @ticket_type_number + 1%>
    <td><%= ticket_type.name %></td>
    <td><%= link_to 'Pokaż', ticket_type %></td>
    <td><%= link_to 'Edytuj', edit_ticket_type_path(ticket_type) %></td>
    <td><%= link_to 'Usuń', ticket_type, :confirm => 'Czy jesteś pewien by usunąć rodzaj biletu?', :method => :delete %></td>
  </tr>
<% end %>
</table>
