<%= form_for(@seat) do |f| %>
  <% if @seat.errors.any? %>
    <div id="error_explanation">
      <h2>Zaszły następujące nieprawidłowości:</h2>

      <ul>
      <% @seat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br />
    <%= f.text_field :room_id %>
  </div>
  <div class="field">
    <%= f.label :row %><br />
    <%= f.text_field :row %>
  </div>
  <div class="field">
    <%= f.label :collumn %><br />
    <%= f.text_field :collumn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
