
<p>
  <b>Id:</b>
  <%= @cinema_film.id %>
</p>
<p>
  <b>Nazwa Kina:</b>
  <%= @cinema_film.cinema.name if @cinema_film.cinema %>
</p>
<p>
  <b>Tytuł filmu:</b>
  <%= @cinema_film.film.title if @cinema_film.film %>
</p>
<p>
  <b>Od kiedy:</b>
  <%= @cinema_film.date_from %>
</p>

<%= link_to 'Edytuj', edit_cinema_film_path(@cinema_film) %> |
<%= link_to 'Wróć', cinema_films_path %>
