<%= form_for(@company_datum) do |f| %>
  <% if @company_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_datum.errors.count, "error") %> prohibited this company_datum from being saved:</h2>

      <ul>
      <% @company_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'NIP' %><br />
    <%= f.text_field :nip %>
  </div>
  <div class="field">
    <%= f.label :'REGON' %><br />
    <%= f.text_field :regon %>
  </div>
  <div class="field">
    <%= f.label :'Nazwa' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :'Adres' %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :'VAT' %><br />
    <%= f.text_field :vat %>
  </div>
  <div class="field">
    <%= f.label :'Facebook'%><br />
    <%= f.text_field :facebook_path %>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Zapisz'%>
  </div>
<% end %>
