<p id="notice"><%= notice %></p>

<p>
  <b>Nazwa</b>
  <%= @company_datum.name %>
</p>

<p>
  <b>Adres</b>
  <%= @company_datum.address %>
</p>

<p>
  <b>Nip</b>
  <%= @company_datum.nip %>
</p>

<p>
  <b>Regon</b>
  <%= @company_datum.regon %>
</p>

<p>
  <b>Vat</b>
  <%= @company_datum.vat %>
</p>

<p>
  <b>Facebook </b>
  <%= @company_datum.facebook_path %>
</p>


<%= link_to 'Edytuj', edit_company_datum_path(@company_datum) %> |
<%= link_to 'Powrót', company_data_path %>
