<%= form_for(@seance_type) do |f| %>
  <% if @seance_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seance_type.errors.count, "error") %> prohibited this seance_type from being saved:</h2>

      <ul>
      <% @seance_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label 'Nazwa' %><br />
    <%= f.text_field :name, :class => 'validate[required]'%>
    <label id="name_status" style="display: none"></label>
  </div>
  <div class="actions">
    <%= f.submit 'Dodaj' %>
  </div>
<% end %>
