# encoding: UTF-8
<h1>Listing tickets_sorts_prices</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Cinema</th>
    <th>Seance type</th>
    <th>Ticket type</th>
    <th>Price</th>
    <th>Discount sort</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets_sorts_prices.each do |tickets_sorts_price| %>
  <tr>
    <td><%= tickets_sorts_price.id %></td>
    <td><%= tickets_sorts_price.cinema_id %></td>
    <td><%= tickets_sorts_price.seance_type_id %></td>
    <td><%= tickets_sorts_price.ticket_type_id %></td>
    <td><%= tickets_sorts_price.price %></td>
    <td><%= tickets_sorts_price.discount_sort_id %></td>
    <td><%= tickets_sorts_price.description %></td>
    <td><%= link_to 'Show', tickets_sorts_price %></td>
    <td><%= link_to 'Edit', edit_tickets_sorts_price_path(tickets_sorts_price) %></td>
    <td><%= link_to 'Destroy', tickets_sorts_price, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tickets sorts price', new_tickets_sorts_price_path %>
