<!-- AJAX
<script>
$(document).ready(function()
{
	
	$("#user_login").blur(function()
	{
		$.ajax({
			
			url: "http://localhost:3000/users/new",
			type: "GET",
			data: "login="+$("#user_login").val(),
			dataType: "json",
			success: function(json)
			{
				if(json.ok)
				{
					$("#user_login").css("backgroundColor","lime")
				}
			}
		})
	})
	
});  
</script> -->
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Login:" %><br />
    <%= f.text_field :login, :value => @login.to_s %>
  </div>
  <div class="field">
    <%= f.label "Hasło:" %><br />
    <%= f.password_field :hashed_password %>
  </div>
  <div class="field">
    <%= f.label "Powtórz hasło:"  %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Email:" %><br />
    <%= f.text_field :email, :value => @email %>
  </div class="field">
    <%= f.label "Telefon:" %><br />
    <%= f.text_field :phone, :value => @phone %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Utwórz konto"%>
  </div>
  
<% end %>
