<h3>Lista użytkowników serwisu</h3>

<%= link_to 'Dodaj użytkownika', new_user_path %>
<br />
<br />
<table id="listaRekordow" cellspacing=0 cellpadding=5px>
  <tr>
    <th>Nr</th>
    <th>Login</th>    
    <th>Email</th>
    <th>Telefon</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @user_number = 1%>

<% @users.each do |user| %>
  <tr>
    <td><%= @user_number %></td>
    <% @user_number += 1%>
    <td><%= user.login %></td>    
    <td><%= user.email %></td>
   	<td><%= user.phone %></td>   
    <td><%= link_to 'Pokaż', user %></td>
    <td><%= link_to 'Edytuj', edit_user_path(user) %></td>   
  </tr>
<% end %>
</table>

<br />
<br></br>
<%= will_paginate @users,  { :previous_label => 'Wstecz', :next_label => 'Dalej' } %>
