<link href="/stylesheets/pagination.css?1320267656" media="screen" rel="stylesheet" type="text/css" />
<h3>Lista użytkowników serwisu</h3>

<%= link_to 'Dodaj użytkownika', new_user_path %>
<br />
<br />
<table id="listaRekordow" cellspacing=0 cellpadding=5px>
  <tr>
    <th>Nr</th>
    <th>Login</th>    
    <th>Email</th>
    <th>Telefon</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.ordinal_number %></td>
    <td><%= user.login %></td>    
    <td><%= user.email %></td>
   	<td><%= user.phone %></td>   
    <td><%= link_to 'Pokaż', user %></td>
    <td><%= link_to 'Edytuj', edit_user_path(user) %></td>   
  </tr>
<% end %>
</table>

<br />
<br></br>
<%= will_paginate @users,  { :previous_label => 'Wstecz', :next_label => 'Dalej' } %>
