<h1>Listing tickets_types</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets_types.each do |tickets_type| %>
  <tr>
    <td><%= tickets_type.id %></td>
    <td><%= tickets_type.name %></td>
    <td><%= link_to 'Show', tickets_type %></td>
    <td><%= link_to 'Edit', edit_tickets_type_path(tickets_type) %></td>
    <td><%= link_to 'Destroy', tickets_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tickets type', new_tickets_type_path %>
