<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @tickets_type.id %>
</p>

<p>
  <b>Name:</b>
  <%= @tickets_type.name %>
</p>


<%= link_to 'Edit', edit_tickets_type_path(@tickets_type) %> |
<%= link_to 'Back', tickets_types_path %>
