<script src="/javascripts/jquery.validationEngine-pl.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

<script>
	jQuery(document).ready(function(){	
		jQuery('#new_cinema_film').validationEngine('attach', { validationEventTrigger: 'submit'});
	});
</script>


<%= form_for(@cinema_film) do |f| %>
  <% if @cinema_film.errors.any? %>
    <div id="error_explanation">
      <h2>Zaszły następujące nieprawidłowości:</h2>

      <ul>
      <% @cinema_film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Kino %><br />
    <% if @cinemas.size > 1-%>
      <%= select_tag('cinema_film[cinema_id]', options_for_select([['Wybierz kino', '']] + @cinemas.collect{|c| [c.name, c.id]}, @cinema_film.cinema_id), :class => 'validate[required]') %>
    <% else if -%>
      <%= select_tag('cinema_film[cinema_id]', options_for_select(@cinemas.collect{|c| [c.name, c.id]}, @cinema_film.cinema_id), :class => 'validate[required]') %>
    <% else -%>
    <%= f.text_field :cinema_id, :class => 'validate[required]' %>
    <% end end-%>
  </div>
  <div class="field">
    <%= f.label :Film %><br />
        <% if @films -%>
    <%= select_tag('cinema_film[film_id]', options_for_select([['Wybierz film', '']] + @films.collect{|film| [film.title, film.id]}, @cinema_film.film_id), :class => 'validate[required]') %>
    <% else -%>
    <%= f.text_field :film_id, :class => 'validate[required]' %>
    <% end -%>
  </div>
  <div class="field">
    <%= f.label :"Data premiery" %><br />
    <%= f.text_field :date_from, :class => 'datePick validate[required]'%>
  </div>
    <div class="field">
    <%= f.label :"Data zakończenia" %><br />
    <%= f.text_field :date_untill, :class => "datePick" %>
  </div>
  <div class="actions">
    <%= f.submit "Zapisz"%>
  </div>
<% end %>
<script>
$j("#cinema_film_date_from").datepicker({
	dateFormat: "yy-mm-dd",
	minDate: -1,
	regional: "pl",
	showAnim: "drop",
	showOtherMonths: true,
	selectOtherMonths: true,
	showOn: "button",
	buttonImage: "/images/pic/calendar.gif",
	buttonImageOnly: true
});
$j("#cinema_film_date_untill").datepicker({
	dateFormat: "yy-mm-dd",
	minDate: -1,
	regional: "pl",
	showAnim: "drop",
	showOtherMonths: true,
	selectOtherMonths: true,
	showOn: "button",
	buttonImage: "/images/pic/calendar.gif",
	buttonImageOnly: true
});
</script>