<h1>Lista filmów w danych kinach</h1>

<%= link_to 'Dodaj', new_cinema_film_path %>
<br></br>

<table id="listaRekordow" cellspacing=0 cellpadding=5px>
  <tr>
  	<th>Nr</th>
    <th>Nazwa Kina</th>
    <th>Tytuł filmu</th>
    <th>Data premiery</th>
    <th></th>
  </tr>
<% @cinema_films.each do |cinema_film| %>
  <tr>
    <td><%= cinema_film.ordinal_number %></td>
    <td align="center"><%= cinema_film.cinema.name if cinema_film.cinema %></td>
    <td><%= trim(cinema_film.film.title, 2) if cinema_film.film %></td>
    <td><%= cinema_film.date_from %></td>
    <td><%= link_to 'Pokaż', cinema_film %>
    	<%= link_to 'Edytuj', edit_cinema_film_path(cinema_film) %>
	</tr>
<% end %>
</table>

<br></br>
<%= will_paginate @cinema_films,  { :previous_label => 'Wstecz', :next_label => 'Dalej' } %>
