<link href="/stylesheets/pagination.css?1320267656" media="screen" rel="stylesheet" type="text/css" />
<LINK REL=StyleSheet HREF="/stylesheets/tickets/tickets.css" TYPE="text/css" MEDIA=screen>


<h1>Bilety</h1>
<br />
<!-- <%= (link_to 'Dodaj nowy bilet', new_ticket_path) %> -->
<br><br>

<% if @tickets.count == 0%>

	<p class="no_tickets"> Nie dodano jeszcze żadnego biletu. </p>

<% else %>
<table id="listaRekordow" cellspacing=0 cellpadding=5px>
  <tr>
  	<th>Nr</th>
    <th>Seans</th>
    <th>Miejsce</th>
    <th>Użytkownik</th>
    <th>Anulowany</th>
    <th>Rezerwacja</th>
    <th>Cena</th>
    <th>Pracownik</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
  	<td><%= ticket.ordinal_number %></td>
    <td align="center"><%= ticket.seance.cinema_film_id if ticket.seance %></td>
    <td><%= ticket.seat %></td>
    <td><%= ticket.user_id %></td>
    <td><%= ticket.cancelled %></td>
    <td><%= ticket.reservation_id %></td>
    <td><%= ticket.price %></td>
    <td><%= ticket.worker_id %></td>
    <td><%= link_to 'Pokaż', ticket %></td>
    <td><%= link_to 'Edytuj', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Usuń', ticket, :confirm => 'Czy napewno chcesz usunąć bilet?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end%>
	
<br />
<br></br>
<%= will_paginate @tickets,  { :previous_label => 'Wstecz', :next_label => 'Dalej' } %>
