<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Seans</th>
    <th>Miejsce</th>
    <th>Użytkownik</th>
    <th>Anulowany</th>
    <th>Rezerwacja</th>
    <th>Cena</th>
    <th>Pracownik</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.seance_id %></td>
    <td><%= ticket.seat_id %></td>
    <td><%= ticket.user_id %></td>
    <td><%= ticket.cancelled %></td>
    <td><%= ticket.reservation_id %></td>
    <td><%= ticket.price %></td>
    <td><%= ticket.worker_id %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
