<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @ticket.id %>
</p>

<p>
  <b>Seans:</b>
  <%= @ticket.seance_id %>
</p>

<p>
  <b>Miejsce:</b>
  <%= @ticket.seat_id %>
</p>

<p>
  <b>Użytkownik:</b>
  <%= @ticket.user_id %>
</p>

<p>
  <b>Anulowany:</b>
  <%= @ticket.cancelled %>
</p>

<p>
  <b>Reservation:</b>
  <%= @ticket.reservation_id %>
</p>

<p>
  <b>Cena:</b>
  <%= @ticket.price %>
</p>

<p>
  <b>Pracownik:</b>
  <%= @ticket.worker_id %>
</p>


<%= link_to 'Edytuj', edit_ticket_path(@ticket) %> |
<%= link_to 'Wróć', tickets_path %>
<p><%= link_to "Printable Receipt (PDF)", ticket_path(@ticket, format: "pdf") %></p>
