
<p>
  <b>Id:</b>
  <%= @ticket.id %>
</p>

<p>
  <b>Tytuł filmu:</b>
  <%= @ticket.seance.film.title %>
</p>

<p>
  <b>Miejsce:</b>
  <%= @ticket.seat.row+@ticket.seat.collumn %>
</p>

<p>
  <b>Cena:</b>
  <%= @ticket.price.price %>
</p>

<p>
  <b>User:</b>
  <%= @ticket.user_id + 1000 %>
</p>

<p>
  <b>Rabat:</b>
  <%= @ticket.discount.discount %>
</p>

<p>
  <b>Wykupiony:</b>
  <%= @ticket.bought %>
</p>

<p>
  <b>Anulowany:</b>
  <%= @ticket.canceled %>
</p>


<%= link_to 'Edytuj', edit_ticket_path(@ticket) %> |
<%= link_to 'Wróć', tickets_path %>
