<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @ticket.id %>
</p>

<p>
  <b>Seans:</b>
  <%= @ticket.seance_id %>
</p>

<p>
  <b>Miejsce:</b>
  <%= @ticket.seat_id %>
</p>

<p>
  <b>Użytkownik:</b>
  <%= @ticket.user_id %>
</p>

<p>
  <b>Anulowany:</b>
  <%= @ticket.cancelled %>
</p>

<p>
  <b>Reservation:</b>
  <%= @ticket.reservation_id %>
</p>

<p>
  <b>Price:</b>
  <%= @ticket.price %>
</p>

<p>
  <b>Worker:</b>
  <%= @ticket.worker_id %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
