<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2>Zaszły następujące nieprawidłowości:</h2>

      <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :director %><br />
    <%= f.text_field :director %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <% if @categories -%>
    <%= select_tag('film[category_id]', options_for_select([['Wybierz kategorię', '']] + @categories.collect{|c| [c.name, c.id]}, @film.category_id)) %>
    <% else -%>
    <%= f.text_field :category_id %>
    <% end -%>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <% 
    tab = []
    i = -1
     20.times do
    
     	tab << [Time.now.years_ago(i).year.to_i, Time.now.years_ago(i).year.to_i]
     	i = i+1
 	end
 	
     	
     	 -%>
     	
    <%= select_tag('film[year]', options_for_select( tab, Time.now.year.to_i)) %>
	<%# select_tag(Date.today, :field_name => 'year', :start_year => Time.now.years_since(1).year.to_i, :end_year => 1999, :default => {:year => Time.now.year.to_i}) %>
  </div>
  <div class="field">
    <%= f.label :trailer %><br />
    <%= f.text_field :trailer %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
	$("document").ready(function(){$('#film_title').focus();});
</script>