<h1>Lista filmów </h1>

<br />
<%= (link_to 'Dodaj nowy film', new_film_path) %><br><br>

<% if @films.count == 0%>

	<p class="no_films"> Nie dodano jeszcze żadnego filmu. </p>

<% else %>
<br><br>
<table>
  <tr>
    <th>Tytuł</th>
    <th>Reżyser</th>
    <th>Rok</th>
    <th>Kategoria</th>
    <th>Trailer</th>
    <th>Czas</th>
    <th>Opis</th>
    <th></th>
  </tr>

<% @films.each do |film| %>
	
  <tr>
    <td width=70px align=center><%= trim(film.title, 2) %></td>
    <td><%= film.director %></td>
    <td width=50px align=center><%= film.year %></td>
    <td><%= film.category.name if film.category %></td>
    <td width=150px><% if film.trailer -%><a href="<%= film.trailer %>" target=_blank title="<%= film.trailer %>"><%= film.trailer %></a><% end -%></td>
    <td align=center><%= film.length %></td>
    <td><i><%= trim(film.description, 11) %></i></td>
    <td width=3%><%= link_to 'Pokaż', film %>
    	<%# if session[:isGA] -%>
    	<%= link_to 'Edytuj', edit_film_path(film) %>
    	<%= link_to 'Usuń', film, :confirm => 'Czy na pewno chcesz usunąć ten rekord?', :method => :delete %></td>
    	<%# end -%>
	</td>
  </tr>
<% end %>
</table>
<% end%>
<br></br>	 
	<%= will_paginate @films,  { :previous_label => 'Wstecz', :next_label => 'Dalej' } %>
	
<br />

