
<p>
  <b>Id:</b>
  <%= @film.id %>
</p>

<p>
  <b>Tytuł:</b>
  <%= @film.title %>
</p>

<p>
  <b>Reżyser:</b>
  <%= @film.director %>
</p>

<p>
  <b>Rok produkcji:</b>
  <%= @film.year %>
</p>

<p>
  <b>Kategoria:</b>
  <%= @film.category.name if @film.category %>
</p>

<p>
  <b>Trailer:</b>
  <% if @film.trailer -%><a href="<%= @film.trailer %>" target=_blank title="<%= @film.trailer %>"><%= @film.trailer %></a><% end -%>
</p>

<p>
  <b>Czas trwania:</b>
  <%= @film.length %>
</p>

<p>
  <b>Opis:</b>
  <%= @film.description %>
</p>


<% if session[:isGA]  -%>
	<%= link_to 'Edytuj', edit_film_path(@film) %> |
<% end -%>
<%= link_to 'Wróć', films_path %>