<link href="/stylesheets/pagination.css?1320267656" media="screen" rel="stylesheet" type="text/css" />
<h1>Rezerwacje</h1>

<table id="listaRekordow" cellspacing=0 cellpadding=5px>
  <tr>
  	<th>Nr</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
  	<td><%= reservation.ordinal_number %></td>
    <td><%= reservation.date %></td>
    <td><%= link_to 'Pokaż', reservation %></td>
    <td><%= link_to 'Edytuj', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Usuń', reservation, :confirm => 'Czy jesteś pewien?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowa Rezerwacja', new_reservation_path %>

<br></br>
<%= will_paginate @reservations,  { :previous_label => 'Wstecz', :next_label => 'Dalej' } %>

