<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @reservation.id %>
</p>

<p>
  <b>Date:</b>
  <%= @reservation.date %>
</p>


<%= link_to 'Edytuj', edit_reservation_path(@reservation) %> |
<%= link_to 'Wróć', reservations_path %>
