<style>
.seat.deselected {
	opacity: 0.15;
	color: black;
}
.seat {
		cursor:pointer;
		font-size:12px;
		background-color:;
		color:white;
		padding-top:5px;
		vertical-align:middle;
		text-align:center;
		background-image:url('/images/pic/seat4.jpg');
		background-repeat:no-repeat;
		background-position:center top;
		width:25px;
		height:20px;
		float:left;
	}
</style>

<%= form_for(@roomview) do |f| %>
  <% if @roomview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roomview.errors.count, "error") %> prohibited this roomview from being saved:</h2>

      <ul>
      <% @roomview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style='display:none'>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <b><%= f.label 'NAZWA' %></b><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  	
    <%# hidden_field_tag :view %>
    <%= f.text_field :view, :style => "display:none"%>
  </div>
  
<hr>
  
<div id="giveMeParams_width_height" align="left" syle='float:left;'>
		<strong>Zbuduj widok:</strong><br>
		liczba kolumn: <input type="text" id="room_width_inp"> (0 &lt; x &lt; 30)<br/>
		liczba rzędów: <input type="text" id="room_height_inp"> (0 &lt; x &lt; 24)
</div>
<br>
<button onClick="submitParams();return false;">Generuj widok do obróbki</button><input class="roomview_submit" class="ui-button ui-widget ui-state-default ui-corner-all" type="submit" value="Create Roomview" name="commit" role="button" aria-disabled="false">


  
<table align=center bgcolor="white" border=0px cellpadding=0px cellspacing=5px style="padding-bottom:25px" id="theTable">
</table>
	  
  <div class="actions">
    <input class="roomview_submit" class="ui-button ui-widget ui-state-default ui-corner-all" type="submit" value="Create Roomview" name="commit" role="button" aria-disabled="false">
  </div>
<% end %>


<script>

var delS;
$j(document).ready(function(){
	xml = $j($j("#roomview_view").val());
	
	h = xml.find("height").text();
	w = xml.find("width").text();
	
	$j("#room_width_inp").val(w);
	$j("#room_height_inp").val(h);
	
	if(drawFullRectangle(w, h)){
		delS = xml.find("deletedSeats seat")
		delS.each(function(){
			thisID = this.innerHTML;
			$j("#"+thisID).addClass("deselected")
		})
	}
});


$j(".seat").live("click", seat_clicked);

var width_of_seat_rect;
var height_of_seat_rect;

function seat_clicked(){
	$j(this).toggleClass("deselected");
}
function drawFullRectangle(w, h){
	width_of_seat_rect = w;
	height_of_seat_rect = h;
	
	var reserved = new Array();
	
	var chars = new Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','R','S','T','U','W','X','Y','Z');
	var maxRows = h;
	var maxCols = w;
	var wypełniacz, html;
	
	$j("#theTable").html("<tr><td></td><td align=center><br/><b>- E K R A N -</b><br/><br/><br/></td><td></td></tr> ")
	
	for(var i=0; i<h; i++)
	{
		html = ""
		html+="<tr align=centera valign='middle'><td width='10px' align='right' valign='middle'>"+chars[i]+"</td><td align='center' valign='middle' width='"+(25*maxCols)+"px'>";
		
		for(var j=1; j<=maxCols; j++) {
			wypełniacz = "";
			if(j<10) wypełniacz = "&nbsp;";
			html+="<div id='"+chars[i]+""+j+"' class='seat' align=center valign='middle'>"+j+"</div>";
		}
		html += "</td><td width='10px' valign='middle'>"+chars[i]+"</td></tr>";
			
		$j("#theTable").append(html);
	}
	
	return true;
}

// ----------------------------------------------------------------------------------------------------------
		
//clicked ok indialog button...
function submitParams(){
	var w = $j("#room_width_inp").val().match("[1-9]{1}[0-9]{0,1}");
	var h = $j("#room_height_inp").val().match("[1-9]{1}[0-9]{0,1}");
	
	$j("#room_width_inp").val(w);
	$j("#room_height_inp").val(h)

	if(w && h && w > 0 && w <= 30 && h > 0 && h <= 24){
		$j(this).dialog("close");
		if(drawFullRectangle(w, h) && delS != undefined){
			delS.each(function(){
			thisID = this.innerHTML;
			$j("#"+thisID).addClass("deselected")
		})	
		}
	}
	else {
		alert("Sprawdź, czy dobrze wypełniłeś pola");
	}		
	
	return false;
}

$j(".roomview_submit").click(function(){	
		var xml = "<room><width>"+width_of_seat_rect+"</width><height>"+height_of_seat_rect+"</height><deletedSeats>"
		
		$j(".seat.deselected").each(function(){
			xml+="<seat>"+this.id+"</seat>"
		});
		
		xml+="</deletedSeats></room>"
	if(xml.length > 74){
		$j("#roomview_view").css("width","550px").val(xml);		
		
		return true;
	} else {
		alert("Musisz zbudować widok sali.")
		return false;
	}
});

$j("input, button").button();
</script>