<h1>Lista Widoków Sal</h1>

<%# link_to 'Dodaj nowy widok', new_roomview_path %><br/><br/>

<table id="listaRekordow" cellspacing=0 cellpadding=5px>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>View</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roomviews.each do |roomview| %>
  <tr>
    <td><%= roomview.id %></td>
    <td><%= roomview.name %></td>
    <td><%= roomview.view %></td>
    <td><%= link_to 'Pokaż', roomview %></td>
    <td><%= link_to 'Edytuj', edit_roomview_path(roomview) %></td>
    <td><%= link_to 'Usuń', roomview, :confirm => 'Czy na pewno chcesz usunąć podany wiersz?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj nowy widok', new_roomview_path %>

<script>
$j("#listaRekordow").find('tr:odd').addClass("odd")
</script>