
<p>
  <b>Id:</b>
  <%= @discount.id %>
</p>

<p>
  <b>Rabat:</b>
  <%= @discount.discount %>
</p>

<p>
  <b>Opis rabatu:</b>
  <%= @discount.description %>
</p>


<%= link_to 'Edytuj', edit_discount_path(@discount) %> |
<%= link_to 'Wróć', discounts_path %>
