<h1>Lista cen</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Cena</th>
    <th>Opis Ceny</th>
    <th></th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td><%= price.id %></td>
    <td><%= price.price %></td>
    <td><%= price.description %></td>
    <td><%= link_to 'Pokaż', price %>
    	<%= link_to 'Edycja', edit_price_path(price) %>
    	<%= link_to 'Usuń', price, :confirm => 'Czy na pewno chcesz usunąć ten rekord?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj', new_price_path %>
