<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2>Zaszły następujące nieprawidłowości:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Kino %><br />
    <% if @cinemas -%>
    <%= select_tag('room[cinema_id]', options_for_select([['Wybierz kino', '']] + @cinemas.collect{|c| [c.name, c.id]}, @room.cinema_id)) %>
    <% else -%>
    <%= f.text_field :cinema_id %>
    <% end -%>
  </div>
	<div class="field">
    <%= f.label :"Numer sali" %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :"Liczba miejsc" %><br />
    <%= f.text_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
	$("document").ready(function(){$('#room_size').focus();});
</script>