
<p>
  <b>Nazwa kina:</b>
  <%= @room.cinema.name if @room.cinema %>
</p>

<p>
  <b>Numer sali:</b>
  <%= @room.number %>
</p>

<p>
  <b>Liczba miejsc:</b>
  <%= @room.size %>
</p>


<%= link_to 'Edytuj', edit_room_path(@room) %> |
<%= link_to 'Wróć', rooms_path %>
