<p>
  <b>Numer id:</b>
  <%= @room.id %>
</p>

<p>
  <b>Nazwa kina:</b>
  <%= @room.cinema.name if @room.cinema %>
</p>

<p>
  <b>Numer sali:</b>
  <%= @room.number %>
</p>
<p>
  <b>Widok Sali:</b>
  <%= @room.roomview.name if @room.roomview %> <%= link_to 'Pokaż widok Sali', @room.roomview, :target => "_blank" %>
</p>
<p>
  <b>Liczba miejsc:</b>
  <%= @room.size %>
</p>


<%= link_to 'Edytuj', edit_room_path(@room) %> |
<%= link_to 'Wróć', rooms_path %>
