<!-- CSS/JS imports -->
<script src="/javascripts/jquery.validationEngine-pl.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

<LINK REL=StyleSheet HREF="/stylesheets/ticket_sort_prices/form.css" TYPE="text/css" MEDIA=screen>
<!-- EO CSS/JS imports -->

<!-- JS code -->
<script>
	jQuery(document).ready(function()
	{
		jQuery("#new_ticket_sort_price").validationEngine('attach', { validationEventTrigger: 'submit'});
	});
</script>
<!-- EO JS code -->

<%= form_for(@ticket_sort_price) do |f| %>
  <% if @ticket_sort_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket_sort_price.errors.count, "error") %> prohibited this ticket_sort_price from being saved:</h2>

      <ul>
      <% @ticket_sort_price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<select class="validate[required]; select" id="ticket_sort_price_cinema_id" name="ticket_sort_price[cinema_id]">
 		<option value="">Wybierz kino</option>
					<% @cinemas.each { |cinema| %>
						<option 
						<% if @ticket_sort_price.cinema_id
						 	if cinema.name.to_s.eql?(Cinema.find(@ticket_sort_price.cinema_id).name.to_s)%> 
							selected 
						 <% end 
						end %> value="<%= cinema.id %>"><%= cinema.name %></option>
					<%}%>
  	</select>   
  </div>
  <div class="field">
  	<select class="validate[required]; select" id="ticket_sort_price_seance_type_id" name="ticket_sort_price[seance_type_id]">
 		<option value="">Wybierz typ seansu</option>
					<% @seance_types.each { |seance_type| %>
						<option 
						<% if @ticket_sort_price.seance_type_id
						 	if seance_type.name.to_s.eql?(SeanceType.find(@ticket_sort_price.seance_type_id).name.to_s)%> 
							selected 
						 <% end 
						end %> value="<%= seance_type.id %>"><%= seance_type.name %></option>
					<%}%>
  	</select>   
  </div>
 <div class="field">
  	<select class="validate[required]; select" id="ticket_sort_price_ticket_type_id" name="ticket_sort_price[ticket_type_id]">
 		<option value="">Wybierz rodzaj biletu</option>
					<% @ticket_types.each { |ticket_type| %>
						<option 
						<% if @ticket_sort_price.ticket_type_id
						 	if ticket_type.name.to_s.eql?(TicketType.find(@ticket_sort_price.ticket_type_id).name.to_s)%> 
							selected 
						 <% end 
						end %> value="<%= ticket_type.id %>"><%= ticket_type.name %></option>
					<%}%>
  	</select>   
  </div>
  <div class="field">
  	<select class="validate[required]; select" id="ticket_sort_price_discount_sort_id" name="ticket_sort_price[discount_sort_id]">
 		<option value="">Wybierz rodzaj zniżki</option>
					<% @discount_sorts.each { |discount_sort| %>
						<option 
						<% if @ticket_sort_price.discount_sort_id
						 	if discount_sort.description.to_s.eql?(DiscountSort.find(@ticket_sort_price.discount_sort_id).description.to_s)%> 
							selected 
						 <% end 
						end %> value="<%= discount_sort.id %>"><%= discount_sort.description %></option>
					<%}%>
  	</select>   
  </div>
  <div class="field">
    <%= f.label 'Cena' %><br />
    <%= f.text_field :price, :class => "validate[required]; input", :type => 'number', :min => 0, :step => 0.1%>
  </div>
    
  <div class="actions">
    <%= f.submit "Dodaj"%>
  </div>
<% end %>
