<!-- CSS/JS imports -->
<link href="/stylesheets/pagination.css?1320267656" media="screen" rel="stylesheet" type="text/css" />
<!-- EO CSS/JS imports -->

<!-- JS code -->

<!-- EO JS code -->
<h3>Rodzaje bieltów(<%= link_to 'Dodaj nowy rodzaj cen biletu', new_ticket_sort_price_path %>)</h3>

<table id="listaRekordow" cellspacing=0 cellpadding=5px>
  <tr>
  	<th>Nr</th>
    <th>Kino</th>
    <th>Seans</th>
    <th>Bilet</th>
    <th>Cena</th>
    <th>Rodzaj zniżki</th>   
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @ticket_sort_prices.each do |ticket_sort_price| %>
  <tr>
  	<td><%= ticket_sort_price.ordinal_number %></td>
  	<td><%= Cinema.find(ticket_sort_price.cinema_id).name %></td>
    <td><%= SeanceType.find(ticket_sort_price.seance_type_id).name %></td>
    <td><%= TicketType.find(ticket_sort_price.ticket_type_id).name %></td>
    <td><%= ticket_sort_price.price %></td>
    <td><%= DiscountSort.find(ticket_sort_price.discount_sort_id).description %></td>    
    <td><%= link_to 'Pokaż', ticket_sort_price %></td>
    <td><%= link_to 'Edytuj', edit_ticket_sort_price_path(ticket_sort_price) %></td>    
  </tr>
<% end %>
</table>

<br />

<br></br>
<%= will_paginate @ticket_sort_prices,  { :previous_label => 'Wstecz', :next_label => 'Dalej' } %>
