# encoding: UTF-8
<h1>Listing ticket_sort_prices</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Cinema</th>
    <th>Seance type</th>
    <th>Ticket type</th>
    <th>Price</th>
    <th>Discount sort</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ticket_sort_prices.each do |ticket_sort_price| %>
  <tr>
    <td><%= ticket_sort_price.id %></td>
    <td><%= ticket_sort_price.cinema_id %></td>
    <td><%= ticket_sort_price.seance_type_id %></td>
    <td><%= ticket_sort_price.ticket_type_id %></td>
    <td><%= ticket_sort_price.price %></td>
    <td><%= ticket_sort_price.discount_sort_id %></td>
    <td><%= ticket_sort_price.description %></td>
    <td><%= link_to 'Show', ticket_sort_price %></td>
    <td><%= link_to 'Edit', edit_ticket_sort_price_path(ticket_sort_price) %></td>
    <td><%= link_to 'Destroy', ticket_sort_price, :confirm => 'Czy napewno chcesz usunąć ten rekord?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowy rodzaj cen biletu', new_ticket_sort_price_path %>
