<p>
  <b>Kino:</b>
  <%= Cinema.find(@ticket_sort_price.cinema_id).name %>
</p>

<p>
  <b>Typ seansu:</b>
  <%= SeanceType.find(@ticket_sort_price.seance_type_id).name %>
</p>

<p>
  <b>Rodzaj biletu:</b>
  <%= TicketType.find(@ticket_sort_price.ticket_type_id).name %>
</p>

<p>
  <b>Cena:</b>
  <%= @ticket_sort_price.price %>
</p>

<p>
  <b>Rodzaj zniżki:</b>
  <%= DiscountSort.find(@ticket_sort_price.discount_sort_id).description %>
</p>

<p>
  <b>Opis:</b>
  <%= @ticket_sort_price.description %>
</p>


<%= link_to 'Edit', edit_ticket_sort_price_path(@ticket_sort_price) %> |
<%= link_to 'Back', ticket_sort_prices_path %>
