<!-- CSS and JS imports -->
<script src="/javascripts/jquery.validationEngine-pl.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

<LINK REL=StyleSheet HREF="/stylesheets/workers/new_worker.css" TYPE="text/css" MEDIA=screen>
	
<!-- EO CSS and JS imports -->

<!-- JS code -->
<script>
	jQuery(document).ready(function(){
    // binds form submission and fields to the validation engine
    jQuery("#new_worker").validationEngine('attach', { validationEventTrigger: 'submit'});
    
    jQuery("#worker_login").blur(function()
    {
    	var login = jQuery("#worker_login").val();
    	
    	if(login.length > 3)
    	{
    		var login_availability = jQuery.ajax({
    			type: "POST",
	    		url: "http://localhost:3000/private/workers/login_availability",
	    		data: "login=" + login,
	    		
	    		success: function(message)
	    		{	    		
	    			jQuery("#login_status").show('fast');
	    			if (message == 'OK') 
	    			{				
	    				jQuery("#login_status").css("color", "lime");
	    				jQuery("#login_status").text("Login dostępny");
	    			}
	    			else
	    			{	    				
	    				jQuery("#login_status").css("color", "red");
	    				jQuery("#login_status").text("Login niedostępny");
	    			}
	    		},
	    		error: function()
	    		{
	    			alert('Sprawdzenie dostępności nie powiodło się.');
	    		}
    		});
    	}
    	else
    	{
    		jQuery("#login_status").hide('fast');
    	}
    	
    });
 }); 
</script>

<!-- EO JS code -->

<%= form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2>Zaszły następujące nieprawidłowości:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<select class="validate[required]; select" id="worker_cinema_id" name="worker[cinema_id]">
 		<option value="">Wybierz kino</option>
					<% @cinemas.each { |cinema| %>
						<option 
						<% if @worker.cinema_id
						 	if cinema.name.to_s.eql?(Cinema.find(@worker.cinema_id).name.to_s)%> 
							selected 
						 <% end 
						end %> value="<%= cinema.id %>"><%= cinema.name %></option>
					<%}%>
  	</select>   
  </div>
  <div class="field">
   	<select class='validate[required]; select' id="worker_status_id" name="worker[status_id]">
   		<option value="">Wybierz status</option>
					<% @statuses.each { |status| %>
						<option 
						<% if @worker.status_id
						 	if status.name.to_s.eql?(Status.find(@worker.status_id).name.to_s)%> 
							selected 
						 <% end 
						end %> value="<%= status.id %>"><%= status.name %></option>
					<%}%>
   	</select>
  </div>
  <div class="field">
    <%= f.label 'Login' %><br />
    <%= f.text_field :login, :class => 'validate[required]; input' %>
    <label id="login_status" style="display: none"></label>
  </div>  
  <div class="field">
    <%= f.password_field :hashed_password, :class => 'validate[required]; input', :style => 'display:none', :value => 'hidden' %>
  </div>
  <div class="field">
    <%= f.label 'Imię' %><br />
    <%= f.text_field :first_name, :class => 'validate[required]; input' %>
  </div>
  <div class="field">
    <%= f.label 'Nazwisko' %><br />
    <%= f.text_field :last_name, :class => 'validate[required]; input' %>
  </div>
  <div class="field">
    <%= f.label 'Telefon' %><br />
    <%= f.text_field :phone, :class => 'validate[required,custom[phone]]; input' %>
  </div>
  <div class="field">
    <%= f.label 'Email' %><br />
    <%= f.text_field :email, :class => 'validate[required,custom[email]]; input' %>
  </div>
  <div class="actions">
    <%= f.submit 'Dodaj'%>
  </div>
<% end %>
