<h1>Lista pracowników</h1>
<%= link_to 'Dodaj', new_worker_path %><br><br>

<% if @workers  
	worker_number=0%>
	<table id="listaRekordow" cellspacing=0 cellpadding=5px>
	  <tr>
	  	<td>Nr</td>
	    <th>Kino</th>
	    <th>Status</th>
	    <th>Login</th>
	    <th>Imie</th>
	    <th>Nazwisko</th>
	    <th>Telefon</th>
	    <th>E-mail</th>
	    <th></th>
	  </tr>
	<% @workers.each do |worker| %>
	  <tr>
	  	<td><%= worker_number %></td>
	  	<% worker_number = worker_number + 1%>
	    <td><%= worker.cinema.name if worker.cinema %></td>
	    <td><%= worker.status.name if worker.status %></td>
	    <td><%= worker.login %></td>
	    <td><%= worker.first_name %></td>
	    <td><%= worker.last_name %></td>
	    <td><%= worker.phone %></td>
	    <td><%= worker.email %></td>
	    <td><%= link_to 'Pokaż', worker %>
	    	<%= link_to 'Edytuj', edit_worker_path(worker) %>
	    	<%= link_to 'Usuń', worker, :confirm => 'Czy na pewno chcesz usunąć ten rekord?', :method => :delete %></td>
	  </tr>
	<% end %>
<% else -%>

	<p>Albo nie ma danych w bazie, albo masz niewystarczające uprawnienia, aby przeglądać te dane.</p><br><br>

<% end -%>

</table>

<br></br>
<%= will_paginate @workers,  { :previous_label => 'Wstecz', :next_label => 'Dalej' } %>
