<h1>Lista pracowników</h1>
<%= link_to 'Dodaj', new_worker_path %><br><br>

<% if @workers %>
	<table id="listaRekordow" cellspacing=0 cellpadding=5px>
	  <tr>
	  	<td>Nr</td>
	    <th>Kino</th>
	    <th>Status</th>
	    <th>Login</th>
	    <th>Imię</th>
	    <th>Nazwisko</th>
	    <th>Telefon</th>
	    <th>Email</th>
	    <th></th>
	  </tr>
	<% @workers.each do |worker| %>
	  <tr>
	  	<td><%= worker.ordinal_number %></td>
	  	<td><%= worker.cinema.name if worker.cinema %></td>
	    <td><%= worker.status.name if worker.status %></td>
	    <td><%= worker.login %></td>
	    <td><%= worker.first_name %></td>
	    <td><%= worker.last_name %></td>
	    <td><%= worker.phone %></td>
	    <td><%= worker.email %></td>
	    <td><%= link_to 'Pokaż', worker %>
	    	<%= link_to 'Edytuj', edit_worker_path(worker) %>	    	
	  </tr>
	<% end %>
<% else -%>

	<p>Albo nie ma danych w bazie, albo masz niewystarczające uprawnienia, aby przeglądać te dane.</p><br><br>

<% end -%>

</table>

<br></br>
<%= will_paginate @workers,  { :previous_label => 'Wstecz', :next_label => 'Dalej' } %>
