<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @seances_type.id %>
</p>

<p>
  <b>Name:</b>
  <%= @seances_type.name %>
</p>


<%= link_to 'Edit', edit_seances_type_path(@seances_type) %> |
<%= link_to 'Back', seances_types_path %>
