<h1>Lista zniżek</h1>
<%= link_to 'Dodaj', new_discount_path %><br><br>

<table>
  <tr>
    <th>Id</th>
    <th>Rabat</th>
    <th>Opis Rabatu</th>
    <th></th>
  </tr>

<% @discounts.each do |discount| %>
  <tr>
    <td><%= discount.id %></td>
    <td><%= discount.discount %></td>
    <td><%= discount.description %></td>
    <td><%= link_to 'Pokaż', discount %>
    	<%= link_to 'Edytuj', edit_discount_path(discount) %>
    	<%= link_to 'Usuń', discount, :confirm => 'Czy na pewno chcesz usunąć ten rekord?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj', new_discount_path %>
