<h1>Lista kategorii</h1>
<%# if session[:isGA] -%>
<%= link_to 'Dodaj', new_category_path %><br><br>
<%# end -%>
<table>
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td>
    	<%# if session[:isGA] -%>
    	<%= link_to 'Pokaż', category %>
    	<%= link_to 'Edytuj', edit_category_path(category) %>
    	<%= link_to 'Usuń', category, :confirm => 'Czy na pewno chcesz usunąć ten rekord?', :method => :delete %></td>
    	<%# end -%>
    	
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj', new_category_path if session[:isGA]%>
