<script src="/javascripts/jquery.validationEngine-pl.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

<script>
	jQuery(document).ready(function(){	
		jQuery('#new_discount_sort').validationEngine('attach', { validationEventTrigger: 'submit'});
	});
</script>

<%= form_for(@discount_sort) do |f| %>
  <% if @discount_sort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount_sort.errors.count, "error") %> prohibited this discount_sort from being saved:</h2>

      <ul>
      <% @discount_sort.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Opis' %><br />
    <%= f.text_field :description, :class => 'validate[required]' %>
  </div>
  <div class="field">
    <%= f.label 'Czy stawka świąteczna?' %>
    <%= f.check_box :is_weekend %>
  </div>
  <div class="actions">
    <%= f.submit 'Dodaj' %>
  </div>
<% end %>
