<p id="notice"><%= notice %></p>

<p>
  <b>Opis:</b>
  <%= @discount_sort.description %>
</p>

<p>
  <b>Weekend/Święto?</b>
  <%= @discount_sort.is_weekend == true ? 'tak' : 'nie' %>
</p>


<%= link_to 'Edit', edit_discount_sort_path(@discount_sort) %> |
<%= link_to 'Back', discount_sorts_path %>
