<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reservation_id %><br />
    <%= f.text_field :reservation_id %>
  </div>
  <div class="field">
    <%= f.label :sum %><br />
    <%= f.text_field :sum %>
  </div>
  <div class="field">
    <%= f.label :worker_id %><br />
    <%= f.text_field :worker_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :cash_register %><br />
    <%= f.text_field :cash_register %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
