<br />
<h3>Wydane paragony</h3>
<br />
<table>
  <tr>
    <th>Nr rezerwacji</th>
    <th>Kwota do zapłaty</th>
    <th>Pracownik</th>
    <th>Data wydanie</th>
    <th>Kasa</th>
    <th>Zapłacono</th>
    <th></th>
    <th></th>
  </tr>

<% @receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.reservation_id %></td>
    <td><%= receipt.sum %></td>
    <% worker = Worker.find(receipt.worker_id)%>
    <td><%= worker.first_name + ' ' + worker.last_name %></td>
    <td><%= receipt.date %></td>
    <td><%= receipt.cash_register %></td>
    <td><%= receipt.cash %></td>
    <td><%= link_to 'Pokaż', receipt %></td>
    
  </tr>
<% end %>
</table>

<br />
