<%= form_for(@discounts_sort) do |f| %>
  <% if @discounts_sort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discounts_sort.errors.count, "error") %> prohibited this discounts_sort from being saved:</h2>

      <ul>
      <% @discounts_sort.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :is_weekend %><br />
    <%= f.check_box :is_weekend %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
