<h1>Listing discounts_sorts</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Description</th>
    <th>Is weekend</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discounts_sorts.each do |discounts_sort| %>
  <tr>
    <td><%= discounts_sort.id %></td>
    <td><%= discounts_sort.description %></td>
    <td><%= discounts_sort.is_weekend %></td>
    <td><%= link_to 'Show', discounts_sort %></td>
    <td><%= link_to 'Edit', edit_discounts_sort_path(discounts_sort) %></td>
    <td><%= link_to 'Destroy', discounts_sort, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discounts sort', new_discounts_sort_path %>
