<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @discounts_sort.id %>
</p>

<p>
  <b>Description:</b>
  <%= @discounts_sort.description %>
</p>

<p>
  <b>Is weekend:</b>
  <%= @discounts_sort.is_weekend %>
</p>


<%= link_to 'Edit', edit_discounts_sort_path(@discounts_sort) %> |
<%= link_to 'Back', discounts_sorts_path %>
