
<p>
  <b>Id:</b>
  <%= @cinema.id %>
</p>

<p>
  <b>Miasto:</b>
  <%= @cinema.city.name %>
</p>

<p>
  <b>Nazwa Kina:</b>
  <%= @cinema.name %>
</p>

<p>
  <b>Adres:</b>
  <%= @cinema.address %>
</p>

<p>
  <b>Telefon:</b>
  <%= @cinema.phone %>
</p>


<%= link_to 'Edytuj', edit_cinema_path(@cinema) %> |
<%= link_to 'Wróć', cinemas_path %>

<br><br>