<!DOCTYPE html>
<html>
<head>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8"/>
<meta charset="UTF-8">
<meta name="ROBOTS" content="NOARCHIVE">
<meta name="GOOGLEBOT" content="NOARCHIVE">
<meta name="Description" content="Cinematoholix - Kino na miarę Twoich oczekiwań!">
<meta name="Keywords" content="kino, filmy, bilety, multiplex">

<%= stylesheet_link_tag :all %>
<%= javascript_include_tag "jquery-1.6.2.min.js" %>
<%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js" %>
<script> $j = jQuery.noConflict(); </script>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
<title><%= yield(:title) && yield(:title) != "" ? yield(:title) : "Cinematoholix- Kino na miarę Twoich oczekiwań" %></title>
</head>

<BODY LEFTMARGIN="0" bgcolor="gray" RIGHTMARGIN="0" TOPMARGIN="0" BOTTOMMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">

<!--
<link rel="shortcut icon" href="...../favicon.ico">
http://www.metamorphozis.com/free_templates/free_css_templates/metamorph_circles/preview.php
-->
<script>

</script>


</head>

<body id="pagetype_index" class="path_109533 path_vod">
<div class="facebook">
<div style="color:#FFFFFF; padding:5px 0px 0px 0px;">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div align="left" style="color:#FFFFFF; padding:1px 0px 0px 0px;">
<div class="fb-like-box" data-href="http://www.facebook.com/CinematoholixGroupWTW" data-width="240" data-height="260" data-show-faces="true" data-stream="false" data-header="true"></div>
</div>
<script src="/javascripts/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function (){
        $(".facebook").hover(function(){
            $(".facebook").stop(true, false).animate({left:"0"},"medium");
        },function(){
            $(".facebook").stop(true, false).animate({left:"-245"},"medium");
        },500);
    });
</script>
        </div>
</div>

<style type="text/css" media="screen">
	.facebook{
        float:left;
        width:260px;
        height:270px;
        background-image:url('/images/pic/slider_fb.png');
        display:block;
        left:-245px;
        padding:0;
        position:fixed;
        top:80px;
        z-index:10000;
    }
    
</style>
     
<div id="page" class="layout_uniwersalny">
	<div class="Ww2" style="text-align: center;">
		<% if session[:user] %>	
			
			<div class='link_logout bck_color'>
				<a class='main_menu bck_color' href="<%= user_logout_path %>">Wyloguj (<%= session[:user].login %>)</a>
			</div>
		<% else %>	
			<div class='link_login bck_color'>
				<a class='main_menu' href="/public/login">Logowanie</a>
				<hr  align=center size=1 color=#000>
				<a class='main_menu' href="<%= register_path %>">Rejestracja</a>
			</div>
		<% end %>
	</div>      
	<div id="sWlbg" style="padding-top: 0px; margin-top:5px;margin-bottom: 0px">
			<img class="Wimg3" style="margin:0px" src="/images/pic/logo.png" alt="" usemap="#winieta" height="90"  />
	</div>
  

	<div id="navH" class="bck_color">
		<ul class="p0">
			<!--<li id="e0" class="">
				&nbsp;&nbsp; &nbsp;
			</li>-->
			<li id="e1" class=" ">
				<div class='menu_el left_rad'>
					<a class="main_menu" id='m1' href=<%= public_path %> title="Strona Główna">Home</a>
				</div>
			</li>
			<li id="e2" class=" ">
				<div class='menu_el no_rad'>
					<a class="main_menu" id='m2' href=<%= repertoire_path %>  title="Wszystkie Filmy ">Repertuar</a>
				</div>
			</li>
			<li id="e3" class=" ">
				<div class='menu_el no_rad'>
					<a class="main_menu" id='m3' href=<%= purchase_path %>  title="Zakup / Rezerwacja">Zakup / Rezerwacja</a>
				</div>
			</li>
			<li id="e4" class=" ">
				<div class='menu_el no_rad'>
					<a class="main_menu" id='m4' href=<%= announcement_path %>  title="Zapowiedzi ">Zapowiedzi</a>
				</div>
			</li>
			<li id="e5" class=" ">
				<div class='menu_el no_rad'>
					<a class="main_menu" id='m5' href=<%= prices_path %> title="Ceny i Promocje ">Ceny i Promocje</a>
				</div>
			</li>
			<li id="e6" class=" ">
				<div class='menu_el no_rad'>
					<a class="main_menu" id='m6' href=<%= contact_path %>  title="Kontakt ">Kontakt</a>
				</div>
			</li>
			<!--<li id="e0" class="moje">
				&nbsp;&nbsp; &nbsp;
			</li>-->
			<% if session[:user] %>	
			<li id="e9" class="moje ">
				<div class='menu_el right_rad'>
					<a class="main_menu" id='m7' href="/public/profil?id=<%=session[:user].id.to_s%>" title="Moje konto">Moje konto</a>
				</div>
			</li>

			<%end%>

		</ul>
	</div>
	
	<!--
	<div class="mod mod_uzr_kinoplex1 dynamic">
		<a class="prev active" href="#"></a>
		<a class="next active" href="#"></a>
	</div>- UZREditor -->
	
	<table class="Ww2" align="center" valign="middle" style="height:400px; overflow: auto; text-align: right;"><tr><td align="center" valign="top">
		<span style='color:green'><%= flash[:notice] if flash[:notice]%></span><br>
		<center id="preloader_podluzny" style="display:none;">
			Ładowanie...<br/>
			<img id="" src="/images/pic/loader.gif">
		</center>
			<%= yield %>
	</table>


	<div id="footer">
		<hr align="center" width="100%" color="#333" size="1">
	  <div class="ft_bot">
	
	    <ul class="c0">
	      <li class="copy">
	      	<a href="#"  rel="nofollow">Copyright</a> &copy; <a href="#" rel="nofollow">CINEMATOHOLIX SA</a>
	      </li>
	      <li class="f"><a href=<%= contact_path %> rel="nofollow">O nas</a></li>
	    </ul>
	  </div>
	 </div>

<xml id="cinemas_xml" style='display:none'>
	<cinemas type="array">
		<% if  FileTest.exists?("app/data/cinemas.xml") %>
			<% cinemas = REXML::Document.new(File.read('app/data/cinemas.xml'))%>
	  		<% cinemas.elements.each('cinemas/cinema') do |c| %>
		  		<cinema>
		  			<id type="integer"><%= c.elements['id'].text %></id>
				    <address type='string'><%= c.elements['address'].text %></address>
				    <name><%= c.elements['name'].text %></name>					    
				    <phone type="integer"><%= c.elements['phone'].text %></phone>
				    <city_id type="integer"><%= c.elements['city_id'].text %></city_id>
				</cinema>
			<% end %>
		<% else %>
				<% cinemas = Cinema.all %>
				<% cinemas.each do |c| %>
					<cinema>
						<id type="integer"><%= c.id %></id>
					    <address type='string'><%= c.address %></address>
					    <name><%= c.name %></name>
					    <phone type="integer"><%= c.phone %></phone>
					    <city_id type="integer"><%= c.city_id %></city_id>
					</cinema>
				<% end %>
	  	<% end %>	  
	</cinemas>
</xml>

<div id="giveMeCinemaId" align="left"></div>

<script>

$j("#cinemas_xml").find("cinema").each(function(){
	var link = "<a href='"+document.location+"' class='change_cinema' onClick=$j.cookie('cinema_id','"+$j(this).find("id").text()+"',{expires:7});$j('#giveMeCinemaId').dialog('close'); style='cursor:pointer;color:#063780;'>"+$j(this).find("name").text()+"</a>"
	$j("#giveMeCinemaId")[0].innerHTML += link+" | "
})

//alert(document.cookie);
//alert($j.cookie('cinema_id'));

$j("#giveMeCinemaId").dialog({
	autoOpen: false,
	closeOnEscape: true,
	modal: true,
	draggable: false,
	closeText: 'hide',
	width: 350,
	title: "Wybierz swoje kino"
}).find("input").button().parent().parent().parent().css("opacity", "0").animate({"opacity": "1"}, 1250)


function askForCinema(){
	$j("#giveMeCinemaId").dialog("open");
}

var x=location.pathname;
var txt='/public/profil';
var patt = /profil/i;
if(x.match(patt)=='profil')x='profil';

switch(x){
	case '/public/index':
	  document.getElementById('m1').className='main_menu_selected';
	  break;
	case '/public/repertuar':
	  document.getElementById('m2').className='main_menu_selected';
	  break;
	case '/public/zakup':
	  document.getElementById('m3').className='main_menu_selected';
	  break;
	case '/public/zapowiedzi':
	  document.getElementById('m4').className='main_menu_selected';
	  break;
	case '/public/ceny':
	  document.getElementById('m5').className='main_menu_selected';
	  break;
	case '/public/kontakt':
	  document.getElementById('m6').className='main_menu_selected';
	  break;
	case 'profil':
	  document.getElementById('m7').className='main_menu_selected';
	  break;	  			  		  
	default:
	  break;
}	


</script>

<br/><br/>
</body>
</html>